.dashboard {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.dash-cat a {
  text-decoration: none;
  color: #fff;
  margin: 0 1vw;
}

.dash-cat a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
    /* opacity: 0; */
    z-index: -1;
  }
  100% {
    transform: translateX(0);
    /* opacity: 10; */
    z-index: -1;
  }
}

.dash-cat {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 65px;
  background-color: #2d6590;
  transition: 0.2s;
  z-index: 1;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
}

.chart-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 80vh;
  flex-wrap: wrap;
}

.chart-left h1 {
  width: 50vw;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.chart {
  display: flex;
  width: 50vw;
  height: 80vh;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 2vh 0;
}

.sections {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  /* height: 1vh; */
  /* width: 15vw; */
  /* margin: 0 5vw; */
  flex-wrap: wrap;
}

.progress-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2vw;
  width: 13vw;
  flex-wrap: wrap;
}
